[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash "/media/OurDocs/computing/Office/OOLT/edit_code.sh"
Name=edit_code
Icon=gnome-panel-launcher
